.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.addTodoCon {
    margin-bottom: 20px;
}

.todotextbox {
    border-radius: 10px;
    padding: 5px;
    width: 210px;
    margin-right: 20px;
}

.card {
    width: 250px;
    height: 60px;
    border-radius: 10px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid #000;
}

.line-through {
    text-decoration: line-through;
}